<div style="border: 5px solid #05445E; border: radius 10px;background-color:#a8d2fa;text-align: center;" id="header">
    <h1 style="font-size:3.2rem;letter-spacing:0.8;color:black;font-weight: 900;font-family: 'Bebas Neue', cursive">EXPLORE</h1>
</div>
<div class="container">
    <form [formGroup]="addGenre" (ngSubmit)="SaveData()">
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-md example" formControlName="category" id="bar">
            <!-- <option selected>Open this select menu</option> -->
            <option *ngFor="let genre of genres" [value]="genre.names">{{genre.names}}</option>
            
          </select>
          <button type="submit" class="btn btn-outline-success">Check</button>
    </form>
    <div class="table-responsive" id="horizontal-scroll">          
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Artist</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of list">
          <td>{{data.id}}</td>
          <td>{{data.songname}}</td>
          <td>{{data.artist}}</td>
          <td>{{data.dur}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>