.center {
    display: flex;
    justify-content: center;
  }

.song{
    width: 75px;
    height:75px;
}
form{
    text-align: center;
    padding-top: 20px;
}
tr:nth-child(even) {background-color: #f2f2f2;}

#bar{
    width:150px;
}
#horizontal-scroll {
    overflow: hidden;
    overflow-x: auto;
    clear: both;
    width: 100%;
  }
  .table{
    min-width: rem-calc(640);
  }