<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#" ><img src="assets\images\logo.jpeg" alt="img" class="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <div class="spacing"></div>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
      </li>
      <div class="spacing"></div>
      <li class="nav-item ">
          <a class="nav-link" routerLinkActive="active" routerLink="/songs">All Songs</a>
        </li>
      <div class="spacing"></div>
      <div class="spacing"></div>
      <li class="nav-item ">
          <a class="nav-link" routerLinkActive="active" routerLink="/favourite">Favourites</a>
        </li>
      <div class="spacing"></div>
        <li class="nav-item ">
          <a class="nav-link" routerLinkActive="active" routerLink="/explore">Explore</a>
      </li>
    </ul>
  </div>
</nav>