/* #navbarSupportedContent{
    margin-left: 240px;
} */
.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}
.navbar-nav > li{
    margin-left:30px;
    margin-right:20px;
  }
.spacing{
    margin-left: 5vw;
}
.logo{
    width: 60px;
}

/* //updated */
.active{
    color:white;
    border-bottom: .1rem solid red;
    /* line-height: 10px; */
  }
  a:link {
    text-decoration: none;
    /* line-height: 15px; */
    /* text-align: center; */

    
    
  }
li{
    font-family: 'Bebas Neue', cursive;
    font-weight: 800;
    font-size: large;

}
@media(max-width:786px)
{

}