<div style="border: 5px solid #05445E; border: radius 10px;background-color:#a8d2fa;text-align: center;" id="header">
    <h1 style="font-size:3.2rem;letter-spacing:0.8;color:black;font-weight: 900;font-family: 'Bebas Neue', cursive">FAVOURITES</h1>
</div>
<div class="container">
    <!-- <h2>Table</h2> -->
    <div class="table-responsive" id="horizontal-scroll">          
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody *ngFor="let data of list">
        <tr>
          <td>{{data.id}}</td>
          <td>{{data.songname}}</td>
          <td>{{data.artist}}</td>
          <td>{{data.genre}}</td>
          <td>{{data.dur}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>