.center {
    display: flex;
    /* background-color: #ff1124; */
    justify-content: center;
    padding-top: 20px;
  }

  .container{
    height: 600px;
  }

  button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

   tr:hover { background: rgb(253, 218, 218); } 
   #horizontal-scroll {
    overflow: hidden;
    overflow-x: auto;
    clear: both;
    width: 100%;
  }
  .table{
    min-width: rem-calc(640);
  }