/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
@import '~font-awesome/css/font-awesome.css';
/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('src/assets/images/bg1.jpg');
    background-size: cover;
}